.forgot-password1 {
    margin: 0;
    align-self: stretch;
    font-size: var(--type28bold-size);
    font-weight: 600;
    color: var(--foundation-neutral-g500);
  }
  .email3,
  .enter-your-email2,
  .forgot-password1 {
    font-family: var(--type19bold);
    position: relative;
    line-height: 140%;
    text-align: left;
  }
  .email3 {
    align-self: stretch;
    font-size: var(--type16bold-size);
    color: var(--foundation-neutral-g500);
  }
  .enter-your-email2 {
    border: 0;
    outline: 0;
    font-size: var(--type13-size);
    background-color: transparent;
    width: 456px;
    color: var(--foundation-neutral-g100);
    display: inline-block;
    flex-shrink: 0;
  }
  .enter-your-email-frame {
    align-self: stretch;
    border: 1px solid var(--foundation-neutral-g75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs);
  }
  .enter-your-email-frame:hover {
    border: 2px solid var(--foundation-green-g300);
    box-sizing: border-box;
  }
  .email-feild3 {
    gap: var(--gap-5xs);
  }
  .email-feild3,
  .form3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .send-verification-code {
    position: relative;
    font-size: var(--type16bold-size);
    line-height: 140%;
    font-weight: 600;
    font-family: var(--type19bold);
    color: var(--foundation-neutral-g50);
    text-align: left;
  }
  .button4,
  .form-contener3 {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button4 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 0;
    background-color: var(--foundation-green-g300);
    border-radius: var(--br-5xl);
    flex-direction: row;
  }
  .button4:hover {
    background-color: var(--color-turquoise);
  }
  .form-contener3 {
    margin: 0;
    border-radius: var(--br-13xl);
    background-color: var(--foundation-neutral-g50);
    flex-direction: column;
    padding: var(--padding-41xl) var(--padding-61xl);
    gap: var(--gap-41xl);
  }
  .image-6-icon3 {
    width: 300px;
    position: relative;
    height: 50.1px;
    object-fit: cover;
  }
  .frame-section,
  .systemadminforgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-section {
    width: 640px;
    height: 658px;
    gap: var(--gap-61xl);
  }
  .systemadminforgot-password {
    width: 100%;
    height: 1024px;
    position: relative;
    background-color: var(--foundation-green-g500);
    overflow: hidden;
    padding: var(--padding-21xl) var(--padding-xl);
    box-sizing: border-box;
  }
  @media screen and (max-width: 420px) {
    .form-contener3 {
      padding-left: var(--padding-61xl);
      box-sizing: border-box;
    }
    .frame-section {
      align-self: stretch;
      width: auto;
    }
  }
  