.email-verification {
    margin: 0;
    align-self: stretch;
    font-size: var(--type28bold-size);
    font-weight: 600;
    color: var(--foundation-neutral-g500);
  }
  .email-verification,
  .enter-verification-code,
  .enter-verification-code1 {
    font-family: var(--type19bold);
    position: relative;
    line-height: 140%;
    text-align: left;
  }
  .enter-verification-code {
    align-self: stretch;
    font-size: var(--type16bold-size);
    color: var(--foundation-neutral-g500);
  }
  .enter-verification-code1 {
    border: 0;
    outline: 0;
    font-size: var(--type13-size);
    background-color: transparent;
    flex: 1;
    color: var(--foundation-neutral-g100);
  }
  .enter-verification-code-wrapper {
    align-self: stretch;
    border: 1px solid var(--foundation-neutral-g75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs);
  }
  .enter-verification-code-wrapper:hover {
    border: 2px solid var(--foundation-green-g300);
    box-sizing: border-box;
  }
  .email-feild2 {
    gap: var(--gap-5xs);
  }
  .email-feild2,
  .form2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .next {
    position: relative;
    font-size: var(--type16bold-size);
    line-height: 140%;
    font-weight: 600;
    font-family: var(--type19bold);
    color: var(--foundation-neutral-g50);
    text-align: left;
  }
  .button3,
  .form-contener2 {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 0;
    background-color: var(--foundation-green-g300);
    border-radius: var(--br-5xl);
    flex-direction: row;
  }
  .button3:hover {
    background-color: var(--color-turquoise);
  }
  .form-contener2 {
    margin: 0;
    border-radius: var(--br-13xl);
    background-color: var(--foundation-neutral-g50);
    flex-direction: column;
    padding: var(--padding-41xl) var(--padding-61xl);
    gap: var(--gap-41xl);
  }
  .image-6-icon2 {
    width: 300px;
    position: relative;
    height: 50.1px;
    object-fit: cover;
  }
  .form-contener-container {
    height: 658px;
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-61xl);
  }
  .systemadminemail-verification {
    width: 100%;
    height: 1024px;
    position: relative;
    background-color: var(--foundation-green-g500);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-21xl) var(--padding-xl);
    box-sizing: border-box;
  }
  @media screen and (max-width: 1200px) {
    .systemadminemail-verification {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .form-contener-container {
      align-self: stretch;
      width: auto;
    }
  }
  