.logo-icon2 {
    width: 197.5px;
    position: relative;
    height: 33px;
    object-fit: cover;
  }
  .logout2 {
    width: 65px;
    position: relative;
    line-height: 140%;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
  }
  .navbar2 {
    align-self: stretch;
    background-color: var(--foundation-neutral-g500);
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xs) var(--padding-30xl);
    box-sizing: border-box;
  }
  .magedashboard-icon2 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dashboard9 {
    position: relative;
    line-height: 140%;
    font-weight: 600;
  }
  .dashboard8 {
    align-self: stretch;
    height: 62px;
    border-radius: var(--br-5xs);
    background-color: var(--foundation-neutral-g50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .iconoirprofile-circle2 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dashboard10,
  .sidelist2 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding-xl);
  }
  .dashboard10 {
    height: 62px;
    border-radius: var(--br-5xs);
    background-color: var(--foundation-green-g500);
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    color: var(--foundation-neutral-g50);
  }
  .sidelist2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-information,
  .update-your-accounts {
    align-self: stretch;
    position: relative;
    line-height: 140%;
  }
  .profile-information {
    font-weight: 600;
  }
  .update-your-accounts {
    font-size: var(--type13-size);
    color: var(--foundation-neutral-g200);
  }
  .profile-information-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .enter-your-full,
  .full-name {
    position: relative;
    line-height: 140%;
  }
  .full-name {
    align-self: stretch;
  }
  .enter-your-full {
    border: 0;
    outline: 0;
    font-family: var(--type19bold);
    font-size: var(--type13-size);
    background-color: transparent;
    flex: 1;
    color: var(--foundation-neutral-g100);
    text-align: left;
  }
  .enter-your-full-name-wrapper,
  .full-name-parent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .enter-your-full-name-wrapper {
    border: 1px solid var(--foundation-neutral-g75);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
  }
  .full-name-parent {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  .frame-group,
  .sign-in {
    font-size: var(--type16bold-size);
  }
  .frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .sign-in {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    font-family: var(--type19bold);
    color: var(--foundation-neutral-g50);
    text-align: left;
  }
  .sign-in-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-9xl);
    background-color: var(--foundation-green-g500);
    border-radius: var(--br-5xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .sign-in-wrapper:hover {
    background-color: var(--foundation-green-g300);
  }
  .frame-parent {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-63xl) 0 0;
    gap: var(--gap-13xl);
  }
  .frame-child,
  .frame-parent,
  .top {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .top {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    border-radius: var(--br-base);
    background-color: var(--foundation-neutral-g50);
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-13xl) var(--padding-5xl);
  }
  .frame-child {
    border: 1px solid var(--foundation-neutral-g75);
    outline: 0;
    font-family: var(--type19bold);
    font-size: var(--type13-size);
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
    color: var(--foundation-neutral-g100);
  }
  .frame-container,
  .sign-in-frame {
    display: flex;
    justify-content: center;
  }
  .frame-container {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-63xl) 0 0;
    gap: var(--gap-13xl);
  }
  .sign-in-frame {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-9xl);
    background-color: var(--red);
    border-radius: var(--br-5xl);
    flex-direction: row;
    align-items: center;
  }
  .sign-in-frame:hover {
    background-color: #fb4f4f;
  }
  .bottem,
  .main-content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bottem {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--foundation-neutral-g50);
    padding: var(--padding-13xl) var(--padding-5xl);
  }
  .main-content1 {
    flex: 1;
    background-color: var(--foundation-green-g10);
    height: 1390px;
    padding: var(--padding-29xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: 46px;
    font-size: var(--type23bold-size);
    color: var(--foundation-neutral-g500);
  }
  .sidelist-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: var(--type16bold-size);
    color: var(--foundation-neutral-g100);
  }
  .systemadminprofile {
    width: 100%;
    position: relative;
    background-color: var(--foundation-neutral-g50);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right;
    font-size: var(--type19bold-size);
    color: var(--foundation-green-g300);
    font-family: var(--type19bold);
  }
  @media screen and (max-width: 1200px) {
    .dashboard9 {
      display: none;
    }
    .dashboard10,
    .dashboard8 {
      align-self: stretch;
      width: auto;
    }
    .sidelist2:hover .dashboard9 {
      display: flex;
    }
  }
  @media screen and (max-width: 960px) {
    .dashboard9 {
      display: none;
    }
  }
  