.reset-password {
    margin: 0;
    align-self: stretch;
    font-size: var(--type28bold-size);
    font-weight: 600;
    color: var(--foundation-neutral-g500);
  }
  .enter-your-new,
  .new-password,
  .reset-password {
    font-family: var(--type19bold);
    position: relative;
    line-height: 140%;
    text-align: left;
  }
  .new-password {
    align-self: stretch;
    font-size: var(--type16bold-size);
    color: var(--foundation-neutral-g500);
  }
  .enter-your-new {
    border: 0;
    outline: 0;
    font-size: var(--type13-size);
    background-color: transparent;
    flex: 1;
    color: var(--foundation-neutral-g100);
  }
  .email-feild1,
  .enter-your-new-password-wrapper {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .enter-your-new-password-wrapper {
    border: 1px solid var(--foundation-neutral-g75);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
  }
  .enter-your-new-password-again-wrapper:hover,
  .enter-your-new-password-wrapper:hover {
    border: 2px solid var(--foundation-green-g300);
    box-sizing: border-box;
  }
  .email-feild1 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  .enter-your-new1 {
    border: 0;
    outline: 0;
    font-family: var(--type19bold);
    font-size: var(--type13-size);
    background-color: transparent;
    flex: 1;
    position: relative;
    line-height: 140%;
    color: var(--foundation-neutral-g100);
    text-align: left;
  }
  .enter-your-new-password-again-wrapper,
  .form1 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .enter-your-new-password-again-wrapper {
    border: 1px solid #b3bfcc;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
  }
  .form1 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-13xl);
  }
  .reset {
    position: relative;
    font-size: var(--type16bold-size);
    line-height: 140%;
    font-weight: 600;
    font-family: var(--type19bold);
    color: var(--foundation-neutral-g50);
    text-align: left;
  }
  .button2,
  .form-contener1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 0;
    background-color: var(--foundation-green-g300);
    align-self: stretch;
    border-radius: var(--br-5xl);
    flex-direction: row;
  }
  .button2:hover {
    background-color: var(--color-turquoise);
  }
  .form-contener1 {
    margin: 0;
    width: 640px;
    border-radius: var(--br-13xl);
    background-color: var(--foundation-neutral-g50);
    flex-direction: column;
    padding: var(--padding-41xl) var(--padding-61xl);
    box-sizing: border-box;
    gap: var(--gap-41xl);
  }
  .image-6-icon1 {
    width: 300px;
    position: relative;
    height: 50.1px;
    object-fit: cover;
  }
  .form-contener-group,
  .systemadminresetpassword {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-contener-group {
    height: 658px;
    width: 640px;
    flex-direction: column;
    gap: var(--gap-61xl);
  }
  .systemadminresetpassword {
    width: 100%;
    height: 1024px;
    position: relative;
    background-color: var(--foundation-green-g500);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-21xl) var(--padding-xl);
    box-sizing: border-box;
  }
  @media screen and (max-width: 1200px) {
    .enter-your-new-password-wrapper:hover {
      border: 2px solid var(--foundation-green-g300);
      box-sizing: border-box;
    }
    .systemadminresetpassword {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 960px) {
    .form-contener-group {
      align-self: stretch;
      width: auto;
    }
  }
  @media screen and (max-width: 420px) {
    .enter-your-new-password-again-wrapper:hover {
      border: 2px solid var(--foundation-green-g300);
      box-sizing: border-box;
    }
    .form-contener1 {
      align-self: stretch;
      width: auto;
    }
  }
  