/* Basic layout */
.dashboard-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: calc(100vh - 300px); /* Adjust height for Header and Footer */
    gap: 20px; /* Gap between image and cards */
}

/* Image styling */
.image-container {
    flex: 1; /* 50% of container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dashboard-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container without distortion */
}

/* Cards styling */
.cards-container {
    flex: 1; /* 50% of container */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two cards per row */
    grid-gap: 20px; /* Gap between cards */
    height: 100%; /* Ensure it fills the entire container */
}

.card {
    background-color: #22AAA1; /* Background color for cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%; /* Make the card fill the allocated grid space */
}

/* Card title */
.card-title {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Card output text */
.card-output {
    font-size: 1.6rem;
    font-weight: bold;
}

.welcome-text h2 {
    font-size: 1.8rem; /* Size of the heading */
     /* Color for the heading */
}

.welcome-text p {
    font-size: 1rem; /* Size of the paragraph */
    color: #555; /* Color for the paragraph */
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column; /* Stack image and cards vertically */
    }

    .image-container {
        flex: none;
        width: 100%; /* Make image container take full width */
        height: 250px; /* Adjust height for smaller screens */
    }

    .dashboard-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image still fills the container */
    }

    .cards-container {
        grid-template-columns: 1fr; /* Stack the cards in a single column */
        gap: 10px; /* Adjust gap for smaller screens */
    }

    .card {
        width: 100%; /* Ensure each card fills the available width */
        height: auto; /* Adjust height to auto for responsive layout */
    }
}

.card:hover{
    background-color:#08101A;
}

/* Responsive adjustments for very small screens */
@media (max-width: 480px) {
    .card-title {
        font-size: 1.2rem; /* Slightly reduce font size on small screens */
    }

    .card-output {
        font-size: 1rem; /* Slightly reduce output text size */
    }

    .image-container {
        height: 200px; /* Further reduce image height */
    }
}
